/* Importa los estilos de slick-carousel */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.cartelera {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en la siguiente línea si es necesario */
  gap: 20px; /* Espacio entre las películas */
  justify-content: center; /* Centra los elementos horizontalmente */
}

.movie {
  position: relative;
  transition: transform 0.3s ease;
  width: 200px; /* Ancho fijo del contenedor */
  overflow: hidden; /* Esconde el contenido que se salga del contenedor */
}

.movie img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
  max-height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.movie:hover img {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.movie-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-sizing: border-box;
}

.movie:hover .movie-title {
  opacity: 1;
}

.buttons {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie:hover .buttons {
  opacity: 1;
}

.button {
  padding: 5px 10px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px; /* Tamaño de fuente ajustado para caber mejor */
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}

.button:hover {
  background: rgba(0, 0, 0, 0.9);
}


header {
    display: flex;
    text-align: center;
}